body{
<<<<<<< HEAD
    font-family: times new roman;; 
=======
   font-family: times new roman;; 
>>>>>>> 2d68317789638d8f454df38f8ae40e9177c52d97
   background-color: blanchedalmond; 
   font-color: yellow;
}
